.clearfix::after {
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}


h3,
p {
	margin: 0;
	font-size: 16px;
}

ul{
	padding: 0;
}
li{
	list-style: none;
}

.basis h3,
.basis p,
.contract h3,
.contract p {
	display: inline;
}

.basis li,
.contract li{
	float: left;
	margin-right: 40px;
}

.ability li,
.edu li,
.project li{
	margin-bottom: 20px;
}